.git
.github
.venv
venv
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.coverage
coverage.xml
bandit-report.json
htmlcov
*.xml
.DS_Store
Thumbs.db
.vscode
.idea
.env
.env.*
.tvtv_default_lineup
.gracenote_default_lineup
*.log
